
<div class="row mb-4">
    <div class="col-12 d-flex justify-content-center">
        <h2 *ngIf="myRoutesActive">Mis Rutas</h2>
        <h2 *ngIf="myFavoriteRoutesActive">Mis Rutas Favoritas</h2>
    </div>

    <div class="col-12 mt-5">
        <ul class="d-flex justify-content-between ">
            <li (click)="changeActive()" class="cursor" routerLink="/home/accountroutes/myroutes/default">Mis Rutas</li>
            <li (click)="changeActive()" class="cursor" routerLink="/home/accountroutes/favoriteroutes">Favoritas</li>
            <li class="cursor" routerLink="/home/add-route">Crear Ruta</li>
        </ul>

    </div>
</div>   








<router-outlet></router-outlet>