<div class="row">
    <div class="col-12">
        <h1>Rutas</h1>
    </div>
    <!-- Buscador -->
    
    
    <div class="col-12">
        <h2>Filtrar</h2>
    <!-- Select Dificultad -->

            <div class="form-group">
                <label for="difficulty">Nivel de dificultad</label>
                <select [(ngModel)]="difficulty" name="difficulty" id="difficulty" class="form-control">
                    <option value="Fácil">Fácil</option>
                    <option value="Moderado">Moderado</option>
                    <option value="Desafiante">Desafiante</option>
                </select>
            </div>
            <!-- Select Circular -->
            <div class="form-group">
                <label for="circular">Circular</label>
                <select [(ngModel)]="circular" name="circular" id="circular" class="form-control">
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>

            <!-- Select comunidades -->

            <div class="form-group">
                <label for="location">Ubicación</label>
                <select [(ngModel)]="location" name="location" id="location" class="form-control">
                    <option value="Andalucí­a">Andalucía</option>
                    <option value="Aragón">Aragón</option>
                    <option value="Principado de Asturias">Principado de Asturias</option>
                    <option value="Islas Baleares">Islas Baleares</option>
                    <option value="Paí­s Vasco">Paí­s Vasco</option>
                    <option value="Canarias">Canarias</option>
                    <option value="Cantabria">Cantabria</option>
                    <option value="Castilla-La Mancha">Castilla-La Mancha</option>
                    <option value="Castilla y León">Castilla y León</option>
                    <option value="Cataluña">Cataluña</option>
                    <option value="Extremadura">Extremadura</option>
                    <option value="Galicia">Galicia</option>
                    <option value="Comunidad de Madrid">Comunidad de Madrid</option>
                    <option value="Región de Murcia">Región de Murcia</option>
                    <option value="Comunidad Foral de Navarra">Comunidad Foral de Navarra</option>
                    <option value="La Rioja">La Rioja</option>
                    <option value="Comunidad Valenciana">Comunidad Valenciana</option>
                    <option value="Ceuta">Ceuta</option>
                    <option value="Melilla">Melilla</option>
                </select>
            </div>

            <!-- Select position -->
            <div class="form-group">
                <label for="position">Filtrar por radio</label>
                <select [(ngModel)]="range" name="range" id="range" class="form-control">
                    <option value="10">10 km</option>
                    <option value="50">50 km</option>
                    <option value="100">100 km</option>
                    <option value="150">150 km</option>
                    <option value="250">250 km</option>
                </select>
            </div>




            <button class="btn btn-outline-primary" (click)="searchMethod()">Filtrar</button>
        </div>






    <!-- Rutas -->
    <div class="col-12">
        <div class="card mt-2" *ngFor="let route of arrRoutes">
            <div class="card-header">
                {{route?.title}}
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">{{route?.description}}</p>
                
                <a class="btn btn-primary" [routerLink]="['/home', route?._id] ">Ver ruta</a>
                    
                
                <button *ngIf="user == undefined" [disabled]="user == undefined" class="btn btn-outline-warning" [attr.data-id]="route?._id" (click)="addFavorites($event)">Agregar a favoritos</button>
                   
                <button  *ngIf="user != undefined"[disabled]="route?.user_id === user._id"  class="btn btn-outline-warning" [attr.data-id]="route?._id"
                        (click)="addFavorites($event)">Agregar a favoritos</button>
                
                
            </div>
        </div>
        <button class="btn btn-outline-warning" (click)="getAllRoutes(10)">Cargar más</button>
    </div>

    
  
    <!-- Card si no existen rutas -->

    <div  *ngIf="arrRoutes == '' " class="col-12">
        <div class="card mt-2">
            <div class="card-header">
                <h2>¡Todavía no existe ninguna ruta!</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">¡Crea la primera ruta!</h5>

                <a class="btn btn-success" routerLink="/home/add-route">Crear ruta</a>

            </div>
        </div>
    </div>
</div>