<div class="row border-bottom">
     <div class="col-12 d-flex justify-content-center">
        <h2>Mis Rutas</h2>
    </div>     
        
    <div class="col-12 ">
            <a class="bread" routerLink="/home/accountroutes/favoriteroutes">Favoritas</a>
    </div>
    
</div>
   

<div class="row">

<div class="col-12 mt-4">
    <!-- ALERTS -->
    <div *ngIf="updatedAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <h4>Mensaje modificado correctamente.</h4>
        <button type="button" class="close" data-dismiss="alert"  routerLink="/home/accountroutes/myroutes/default" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="removeAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <h4>Ruta eliminada correctamente.</h4>
        <button type="button" class="close" data-dismiss="alert" (click)="updatedAlert = false" routerLink="/home/accountroutes/myroutes/default" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="addAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <h4>Nueva ruta añadida correctamente.</h4>
        <button type="button" class="close" data-dismiss="alert" routerLink="/home/accountroutes/myroutes/default" (click)="updatedAlert = false" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


    <!-- ALERTS END -->

    <!-- <div class="row">
        <div class="col-12"*ngFor="let route of myRoutes">
            <div class="card mt-2" >
                <div class="card-header">
                    {{route?.title}}
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{route?.description}}</p>
                    <a  class="btn btn-danger" data-toggle="modal" (click)="deleteRouteId = $event.target.dataset.id" data-target="#exampleModal" [attr.data-id]="route?._id" >Delete</a>
                    <a class="ml-3 btn btn-primary" [routerLink]="['/home/update', route?._id]">Modificar</a>
                    
                </div>
            </div>
        </div> -->
        <div *ngIf="myRoutes == '' " class="col-12" >
            <div class="card mt-2">
                <div class="card-header">
                    <h2>¡Todavía no tienes ninguna ruta!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Crea tu primera ruta ahora mismo</h5>
                    
                    <a class="btn btn-success" routerLink="/home/add-route" >Crear ruta</a>
        
                </div>
            </div>
        </div>
    </div>
<!-- </div>  -->

<div  class="col-12" *ngFor="let route of myRoutes">
    <div class="card my-4 ">
        <div class="card-header">
            <h5 class="card-title"><strong>{{route?.title}}</strong></h5>
        </div>
        <div class="card-body">

            <p class="card-text">{{route?.description}}</p>
        </div>
        <div class="card-footer footer-route border-bottom">
            <div class="row">
                <div class="col-4">
                    <p><strong>Distancia:</strong> {{route?.distance}}</p>
                    <p *ngIf="route?.circular"><strong>Circular: </strong>Si </p>
                    <p *ngIf="!route?.circular"><strong>Circular: </strong>No </p>
                </div>
                <div class="col-4">
                    <p><strong>Altitud:</strong> {{route?.altitude}}</p>
                    <p><strong>Ubicación:</strong> {{route?.location}}</p>
                </div>
                <div class="col-4">
                    <p><strong>Dificultad:</strong> {{route?.difficulty}}</p>
                    <p><strong>Autor:</strong> {{route?.user_name}}</p>
                </div>
            </div>
        </div>
        <div class="col-12  my-3 d-flex bd-highlight">
            <i class="fas fa-eye cursor p-2 bd-highlight mx-5" [routerLink]="['/home', route?._id]" ></i>
            <i class="cursor fas fa-wrench p-2 bd-highlight mx-5" [routerLink]="['/home/update', route?._id]"></i>
           
            
            <!-- <button class="fas fa-trash-alt ml-auto p-2 bd-highlight cursor" data-toggle="modal" (click)="deleteRouteId = $event.target.dataset.id"
                            data-target="#exampleModal" [attr.data-id]="route?._id"></button> -->
            <i class="fas fa-trash-alt cursor ml-auto p-2 bd-highlight" data-toggle="modal" (click)="deleteRouteId = $event.target.dataset.id"
                                data-target="#exampleModal" [attr.data-id]="route?._id"></i>


        </div>
    </div>
</div>












<!-- MODALS -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¡Cuidado!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¡Estás a punto de eliminar la ruta!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deleteRoute()" data-dismiss="modal" >Eliminar ruta</button>
            </div>
        </div>
    </div>
</div>




