<div class="row">
    <div class="col-12" *ngFor="let route of favoriteRoutes">
        <div class="card mt-2">
            <div class="card-header">
                {{route?.title}}
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">{{route?.description}}</p>
                <button class="btn btn-outline-danger" [attr.data-id]="route?._id" (click)="removeFavoriteRoute($event)">Quitar</button>

            </div>
        </div>
    </div>
    <div *ngIf="favoriteRoutes == '' " class="col-12">
        <div class="card mt-2">
            <div class="card-header">
                <h2>¡Todavía no tienes ninguna ruta!</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Añade tu primera ruta ahora mismo</h5>

                <a class="btn btn-success" routerLink="/home/routes">Añade nuevas rutas</a>

            </div>
        </div>
    </div>
</div>