<div class="row">
    <div class="col-12">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-4 mt-5">
                    <form [formGroup]="newRoute" (ngSubmit)="addRoute()">

                        <!-- Titulo ruta -->
                        <div class="form-group">
                            <label for="title">Ruta</label>
                            <input formControlName="title" name="title" autocomplete="off" placeholder="" type="text"
                                class="form-control" id="title" aria-describedby="emailHelp">
                            <p class="denegado" *ngIf="newRoute.controls.title.errors?.required && newRoute.controls.title.touched">
                                Campo necesario.</p>
        
                        </div>


                        <!-- Descripcion ruta -->

                        <div class="form-group">
                            <label for="description">Descripción</label>
                            <input formControlName="description" name="description" autocomplete="off" placeholder="" type="text"
                                class="form-control" id="description" aria-describedby="emailHelp">
                            <p class="denegado"
                                *ngIf="newRoute.controls.description.errors?.required && newRoute.controls.description.touched">
                                Campo necesario.</p>
        
                        </div>


                        <!-- Distancia ruta-->

                        <div class="form-group">
                            <label for="distance">Distancia</label>
                            <input formControlName="distance" name="distance" autocomplete="off" placeholder="" type="text"
                                class="form-control" id="distance" aria-describedby="emailHelp">
                            <p class="denegado" *ngIf="newRoute.controls.distance.errors?.pattern && newRoute.controls.distance.touched">
                                El campo tiene que ser numérico.</p>
                        
                        </div>
                        <!--  Altitud ruta -->

                        <div class="form-group">
                            <label for="altitude">Altitud</label>
                            <input formControlName="altitude" name="altitude" autocomplete="off" placeholder="" type="text" class="form-control"
                                id="altitude" aria-describedby="emailHelp">
                            <p class="denegado" *ngIf="newRoute.controls.altitude.errors?.pattern && newRoute.controls.altitude.touched">
                                El campo tiene que ser numérico.</p>
                        
                        </div>
                        <!-- Select Dificultad -->

                        <div class="form-group">
                            <label for="difficulty">Nivel de dificultad</label>
                            <select formControlName="difficulty" name="difficulty" id="difficulty" class="form-control">
                                <option value="">Seleccione dificultad</option>
                                <option value="Fácil">Fácil</option>
                                <option value="Moderado">Moderado</option>
                                <option value="Desafiante">Desafiante</option>
                            </select>
                            <p class="denegado" *ngIf="newRoute.controls.difficulty.errors?.required && newRoute.controls.difficulty.touched">
                                Selecciona una dificultad.</p>
                        </div>
                        <!-- Select Circular -->
                        <div class="form-group">
                            <label  for="circular">Circular</label>
                            <select formControlName="circular" name="circular" id="circular" class="form-control">
                                <option value="">Seleccione dificultad</option>
                                <option value="true">Si</option>
                                <option value="false">No</option>
                                
                            </select>
                            <p class="denegado" *ngIf="newRoute.controls.circular.errors?.required && newRoute.controls.circular.touched">
                                Campo necesario.</p>
                        </div>

                        <!-- Select comunidades -->

                        <div class="form-group">
                            <label for="location">Ubicación</label>
                            <select formControlName="location" name="location" id="location" class="form-control">
                                <option value="0">Escoja una de estas opciones</option>
                                <option value="Andalucí­a">Andalucía</option>
                                <option value="Aragón">Aragón</option>
                                <option value="Principado de Asturias">Principado de Asturias</option>
                                <option value="Islas Baleares">Islas Baleares</option>
                                <option value="Paí­s Vasco">Paí­s Vasco</option>
                                <option value="Canarias">Canarias</option>
                                <option value="Cantabria">Cantabria</option>
                                <option value="Castilla-La Mancha">Castilla-La Mancha</option>
                                <option value="Castilla y León">Castilla y León</option>
                                <option value="Cataluña">Cataluña</option>
                                <option value="Extremadura">Extremadura</option>
                                <option value="Galicia">Galicia</option>
                                <option value="Comunidad de Madrid">Comunidad de Madrid</option>
                                <option value="Región de Murcia">Región de Murcia</option>
                                <option value="Comunidad Foral de Navarra">Comunidad Foral de Navarra</option>
                                <option value="La Rioja">La Rioja</option>
                                <option value="Comunidad Valenciana">Comunidad Valenciana</option>
                                <option value="Ceuta">Ceuta</option>
                                <option value="Melilla">Melilla</option>
                            </select>
                            
                            <p class="denegado" *ngIf="newRoute.controls.location.errors?.required && newRoute.controls.location.touched">
                                Campo necesario.</p>
                        </div>
                            
        
                        <!-- Mapa -->
                        <div class="col-12 form-group" id="mymap">

                        </div>
                        
                        
                        <input *ngIf="!control" [disabled]="true" type="submit" class="btn btn-primary mt-2" value="Enviar">
                        <input *ngIf="control" [disabled]="!newRoute.valid" type="submit" class="btn btn-primary mt-2" value="Enviar">
                        
                        
                        
                        
                        
                       
                    </form>
                </div>
                    

                    

            </div>
        </div>
    </div>
</div>
